<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\Users\HAKAN\Desktop\Project\InternProjectAlpha\OrderManagement\Presentation\OrderManagement.WebAPI\logs\nlog-internal.log">

	<targets>
		<target xsi:type="File" name="allfile" fileName="C:\Users\HAKAN\Desktop\Project\InternProjectAlpha\OrderManagement\Presentation\OrderManagement.WebAPI\logs/all-logs.txt"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />
		<target xsi:type="File" name="errorfile" fileName="C:\Users\HAKAN\Desktop\Project\InternProjectAlpha\OrderManagement\Presentation\OrderManagement.WebAPI\logs/error-logs.txt"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />
	</targets>

  <rules>
	  <logger name="*" minlevel="Trace" writeTo="allfile" />
	  <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>

</nlog>